*{
    margin: 0;
    padding: 0;
    box-sizing: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


.container{
    position: relative;
    width: 1600px;
    height: 1200px;   
}
.bg{
    
    position: absolute;
    width: 1600px;
    height: 1200px;
}
.box{
    
    position: absolute;
    background-color: #FDFDFD;
    width: 1440px;
    height: 916px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 142px;
    border-radius: 24px;
}
.left{
    display: flex;
    flex-direction: column;
    float: left;
    width: 256px;
    height: 916px;
    
    border-right: 1px solid #E4E4E4;
}


.logo{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -1px;
    color: #11142D;   
    margin-left: 42px;
    margin-top: 49px; 
    margin-bottom: 57px;
}
.logo:after{
    font-family: 'Poppins';
    color: #FF7C5D;
    content: attr(data-descr); 
}
.Bar{
    display: flex;
    align-items: center;
    width: 216px;
    height: 56px;
    
}
.Bar:hover{
    background-color: #2F3CED;
    width: 216px;
    height: 56px;
    border-radius: 0px 12px 12px 0px;
    cursor: pointer;
}
.Bar:hover p{
    font-family: 'inter';
    color: #FDFDFD;
    cursor: pointer;
}

.Bar-icon{ 
    color: #808191;
    width: 24px;
    height: 24px;
    margin-right: 18px;
    margin-left: 24px;
}
.Bar-icon_note{
    color: #808191;
    width: 20px;
    height: 22px;
    margin-right: 18px;
    margin-left: 24px;
}
.Bar-icon_aw{
    color: #808191;
    width: 14px;
    height: 21px;
    margin-right: 21px;
    margin-left: 24px;
}
.Bar-icon_cer{
    color: #808191;
    width: 18px;
    height: 18px;
    margin-right: 18px;
    margin-left: 24px;
}
.Bar-icon_set{
    color: #808191;
    width: 17px;
    height: 19px;
    margin-right: 18px;
    margin-left: 24px;
}


.Bar-text{
    font-family: 'inter';
    color: #808191;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.avatar-box{
    display: flex;
    align-items: center;
    margin-top: 294px;
    margin-left: 24px;
}
.avatar{
    width: 40px;
    height: 40px;
}
.text-box{
    margin-left: 16px;
    margin-right: 39px;
}
.name{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #11142D;  
    cursor: pointer;  
}
.sub{
    font-family: 'inter';
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #808191;
    cursor: pointer;
}
.arrow{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.middle{
    float: left;
}
.title{
    margin-top: 47px;
    margin-left: 34px;
}
.hi{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #11142D;
}
.learn{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #11142D;
    margin-bottom: 29px;
}
.learn-box{
    position: absolute;
}
.toda-box{
    display: flex;
    position: absolute;
    background-color: #2F3CED;
    width: 620px;
    height: 405px;
    border-radius: 24px;
    
    margin-left: -10px;
    margin-top: -10px;
}
.toda-box_light{
    display: flex; 
    position: absolute;
    Width: 600px;
    height: 404px;
    border-radius: 24px;
    background-color: #AFD5FF;

    margin-left: -12px;
    margin-top: -11px;

}
.toda-box_lighter{
    position: absolute;
    Width: 574px;
    Height: 404px;
    border-radius: 24px;
    background-color: #afd4ff50;
    
    margin-left: 54px;
    margin-top: 21px;
    
}


.toda{
    margin-top: 47px;
    margin-left: 14px;
    width: 359px; 
    height: 359px;
}
.art{
    font-family: 'Poppins';
    color: #FFFFFF;
    
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-top: 51px;
    margin-right: 27px;
}
.art-learn{
    font-family: 'inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    width: 203px;
    height: 96px;
    margin-top: 8px;
    margin-bottom: 34px;
}
.learn-button{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #11142D;
    text-decoration: none;
    background-color: #FFFFFF;
    padding: 18px 43px;
    border-radius: 16px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.250929);
}

.dots{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 62px;
    width: 68px;
    height: 8px;
}
.dotsDots:hover{
    position: relative;
    
    display: flex;
    align-items: center;
    background-color: #A0D7E7;  
    justify-content: center;
    width: 8px;
    height: 8px; 
    border-radius: 50px;
}
.classicDots{
    display: flex;
    
    align-items: center;
    position: relative;
    background-color: #FFFFFF;  
    width: 4px;
    height: 4px; 
    border-radius: 50px; 
    gap: 16px;
}
.op{
    font-family: 'inter';
    font-weight: 700;
    font-size: 22px;
    line-height: 163.42%;
    color: #121212;
    margin-top: 499px;
    margin-left: 33px;
    margin-bottom: 16px;
}
.shadow{
    position: absolute;
    opacity: 0.91;
    width: 680px;
    height: 221px;
    
    background: #B7B7B7;
    mix-blend-mode: multiply;
    filter: blur(43.4925px);
    border-radius: 24px;
    
}

.paths-line{
    position: relative;
    display: flex;
    margin-left: 34px;
    
}
.paths{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 190px;
    height: 187px;
    border-radius: 24px;
    background-color: #FFFFFF;
    margin-right: 24px;

}
.paths-title{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #11142D;
    font-family: 'Inter';
    margin-left: 20px;
    margin-bottom: 8px;
}
.paths-lenght{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    Width: 90px;
    Height: 32px;
    color: #808191;
    margin-left: 20px;
    margin-bottom: 37px;
}
.paths-bottom{
    display: flex;
    align-items: center;
}
.paths-students{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 20px;
}
.student{
    margin-left: 20px;
    margin-top: 16px;
    width: 64px;
    height: 24px;
}
.star{
    width: 16px;
    height: 15px;
    margin-left: 47px;
    margin-top: 18px;
    cursor: pointer;
}
.twoDots{
    margin-left: 10px;
    margin-top: 18px;
    cursor: pointer;
}

.right{
    float: left;
    background-color: #F5FBFF;
    width: 506px;
    height: 916px;
    border-radius: 0px 24px 24px 0px;
}

.top{
    display: flex;
    align-items: center;
    margin-top: 48px;
    margin-left: 41px;
}
.Search{
    width: 20px;
    height: 20px;
    margin-right: 18px;
}
.Search-text{
    margin-right: 259px;
    width: 48px;
    height: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #808191;
    font-family: 'inter';
}
.bellRing{
    display: flex;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin-left: -48px;
}
.bellShadow{
    width: 38px;
    height: 38px;
    background: #E3E6EC;
    mix-blend-mode: multiply;
    filter: blur(13.5914px);
}
.bell{
    display: flex;
    justify-content: center;
    margin-top: 12px;
    width: 24px;
    height: 24px;
}
.course{

}
.courser{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.course-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #11142D; 
    margin-left: 39px;
    margin-top: 92px;
    margin-bottom: 24px;
}
.cor{
    display: flex;
}
.cor-bg{
    margin-left: 24px;
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    border-radius: 16px;
    width: 444px;
    height: 84px;
}
.cor-icon{
    width: 56px;
    height: 56px;
    background: #FFA2C0;
    border-radius: 16px;
    margin-left: 24px;
    margin-top: 15px;
}
.cor-icon_dim{
    width: 56px;
    height: 56px;
    background: #FFCE73;
    border-radius: 16px;
    margin-left: 24px;
    margin-top: 15px;
}
.cor-icon_base{
    width: 56px;
    height: 56px;
    background: #A0D7E7;
    border-radius: 16px;
    margin-left: 24px;
    margin-top: 15px;
}
.cor-icon_Principle{
    width: 56px;
    height: 56px;
    background: #B2E2D7;
    border-radius: 16px;
    margin-left: 24px;
    margin-top: 15px;
}


.cor-icon_bg{
    margin-top: 12px;
    margin-left: 12px;
    width: 32px;
    height: 32px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 100%);
    border-radius: 50px;
}

.fire{
    margin-left: 6px;
    margin-top: 6px;
}
.dim{
    margin-top: 7px;
    margin-left: 5px;
}
.base{
    margin-top: 4px;
    margin-left: 7px;
}
.Principle{
    margin-top: 12px;
    margin-left: 12px;
}

.cor-text{
    margin-left: 24px;
}
.cor-title{
    margin-top: 23px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #11142D;
}
.cor-cor{
    margin-top: 3px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #808191;
}
.cor-arrow{
   width: 4px;
    height: 8px; 
}
.arrow-arrow{
    margin-top: 19px;
    margin-left: 83px;
}
.arrow-dim{
    margin-top: 19px;
    margin-left: 94px;
}
.arrow-Firebase{
    margin-top: 19px;
    margin-left: 49px;

}
.arrow-Principle{
    margin-top: 19px;
    margin-left: 69px;

}

.points{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 163.42%;
    color: #121212;
    margin-top: 53px;
    margin-left: 24px;
}
.stats{
    position: absolute;
    width: 444px;
    height: 187px;
    background: #DDEDFF;
    border-radius: 24px;
    margin-left: 24px;
    margin-top: 16px;
}
.number{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 17px;
    margin-left: 37px;
    gap: 28px;
    width: 18px;
}
.numbers{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #808191;
}
.months{
    display: flex;
    gap: 71px;
    margin-left: 116px;
    margin-bottom: 14px;
}
.month{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #808191;
}
.bot{
    position: relative;
    width: 345px;
}
.inner{
    display: flex;
    flex-direction: column;
}
.pop{
    width: 56px;
    height: 48px;
    margin-left: 194px;
    margin-bottom: -16px;
    margin-top: 16px;
}
.wave{
    position: relative;
    width: 345px;
    height: 94px;
    margin-left: 74px;
    margin-bottom: 18px;
}